body{
    margin: 0;
    padding: 0;
    border: 0;
}
.menu{
    background-image: url(../imagem/pizza-show.jpg);
    height: 650px;
}

.conhecaProdutos{
    background-image: url(../imagem/madeira.jpg);
    border: 10px red;
    width:500px;
    height:500px;
    color: white;
    padding: 150px;
}

.corpo{
    padding-top: 4.5rem;
}


.meio{
    color: white;
    padding: 300px;

}

.textoPrincipal h1{
    background-color: white;
    opacity: 0.8;
    color: black;
}

.card{
    width: 18rem;
    float: left;
    margin: 8px;
}