.login {
    height: 100vh;
}

.login__container {
    display: flex;
}

.login__pizza, .login__form {
    flex: 1;
}

.login__figure {
    flex: 1 0 40rem;
}

.login__figure img {
    animation: float 4s infinite;
    width: 80%;
}

@keyframes float {
    0% {
        filter: drop-shadow(0 0 2rem #000);
        transform: translatey(0px);
    }
    50% {
        filter: drop-shadow(0 0 1rem #000);
        transform: translatey(-25px);
    }
    100% {
        filter: drop-shadow(0 0 2rem #000);
        transform: translatey(0px);
    }
}

.form__label {
    display: block;
    font-size: 1.6rem;
    padding: 2rem 0 1rem;
}

.form__input {
    width: 100%;
    border: .1rem solid #999;
    border-radius: 0.5rem;
    height: 4.5rem;
    padding: 0 1rem;
}

.signup {
    padding: 13rem 0 5rem;
}