.payment__confirm {
    padding-top: 18.5rem;
}

.payment__items {
    flex: 2;
}

section.payment__columns.wrapper {
    display: flex;
}

.payment__actions {
    flex: 1;
}

.payment__actions_title {
    color: #fff;
    background-color: #F88709;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}

.payment__empty_title {
    text-align: center;
    color: #F88709;
    font-size: 3rem;
}

.payment__item {
    display: flex;
    margin-bottom: 3rem;
    border-bottom: 1px solid #cecece;
}

figure.payment__product_figure {
    flex: 1 1 15rem;
    max-width: 20rem;
}

img.payment__product_image {
    width: 90%;
}

h3.payment__product_title {
    color: #F88709;
    padding: 1rem 0 1rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.payment__product_info {
    padding-left: 1rem;
}

.payment__actions_columns {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 1.3rem;
    padding: 1rem 2rem;
}


.payment__actions {
    box-shadow: -12px -10px 11px #f6f6f6;
}

.payment__actions_columns p:first-child {
    flex: 1;
}

.payment__actions_columns p:nth-child(2) {
    flex: 3;
    font-weight: bold;
    padding-left: 2rem;
}

p.payment__product_qtt {
    font-size: 1.6rem;
    padding: 1rem 0;
    color: #444;
}

p.payment__product_price {
    padding: 1rem 0;
    font-size: 2rem;
}

p.payment__actions_price_total {
    color: #333;
}