{% extends 'layout/base.html' %}

{% block content %}
    <main class="max_height">
        <section class="max_height list">
          <div class="list__container wrapper">
          {% if not (current_user.order or orders) %}
              <h3 class="sec__title sec__title--line">Não há pedidos</h3>
          {% else %}
            <h3 class="sec__title sec__title--line">Pedidos</h3>
            <div class="list__row list__row--header">
              <div class="list__item"><span>ID</span></div>
                {% if current_user.is_admin() %}
                    <div class="list__item"><span>Usuário</span></div>
                {% endif %}
              <div class="list__item"><span>Total</span></div>
              <div class="list__item"><span>status</span></div>
            </div>
              {% if current_user.is_admin() %}
                {% for order in orders %}
                      <div class="list__row">
                        <div class="list__item"><span>{{ order.id }}</span></div>
                          {% if current_user.is_admin() %}
                            <div class="list__item"><span>{{ order.user.name }}</span></div>
                          {% endif %}
                        <div class="list__item"><span>{{ order.get_amount() }}</span></div>
                        <div class="list__item"><span>{{ order.status }}</span></div>
                      </div>
                {% endfor %}
              {% else %}
                  {% for order in current_user.order %}
                      <div class="list__row">
                        <div class="list__item"><span>{{ order.id }}</span></div>
                        <div class="list__item"><span>{{ order.get_amount() }}</span></div>
                        <div class="list__item"><span>{{ order.status }}</span></div>
                      </div>
                {% endfor %}
              {% endif %}
          {% endif %}
          </div>
        </section>
    </main>

{% endblock %}
