{% extends 'layout/base.html' %}
{% block content %}

<main class="max_height">
    <section class="max_height product">
        <div class="product__container wrapper">
            <h2 class="sec__title sec__title--line">Produtos</h2>

            <div class="product__box">
                {% for product in products %}
                    <div class="product__item">
                    {% if current_user.is_admin() %}
                        <div class="product__action">
                            <a href="{{ url_for('edit_product', product_id=product.id) }}">Editar Produto</a>
                            <a href="{{ url_for('delete_product', product_id=product.id) }}">Excluir Produto</a>
                        </div>
                    {% endif %}
                        <figure class="product__figure">
                            <img class="product__image" src="{{url_for('static', filename='imgs/products/%s' % product.image)}}">
                        </figure>
                        <p class="product__name">{{product.product_name}}</p>
                        <p class="product__excerpt">{{product.excerpt}}</p>
                        <p class="product__price"><span>R$</span>{{product.price}}</p>
                        <span class="product__add" data-product="{{ product.id }}">Add carrinho</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
