{% extends 'layout/base.html' %}
{% block content %}

<main class="form__page">
  <section class="signup form__section">
    <div class="form__container signup__container">
        <div class="tab-content">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
      <h2 class="form__title">Cadastrar-se</h2>
      {% if user and address %}
      <form action="{{ url_for('edit_user_action', user_id=user.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label class="form__label" for="name">Nome</label>
        <input class="form__input" value="{{ user.name }}" type="text" id="name" name="email" placeholder="Digite o seu nome">
        <label class="form__label" for="email">E-mail</label>
        <input class="form__input" value="{{ user.email }}" type="email" id="email" name="email" placeholder="Digite o seu E-mail">
        <label class="form__label" for="password">Senha</label>
        <input class="form__input" type="password" id="password" name="password" placeholder="Digite a sua senha">
        <label class="form__label" for="phone">Telefone</label>
        <input class="form__input" value="{{ user.phone }}" type="text" id="phone" name="phone" placeholder="Digite o seu telefone">
        <label class="form__label" for="cep">CEP</label>
        <input class="form__input" value="{{ address.cep }}" type="text" id="cep" name="cep" placeholder="Digite o seu CEP">
        <label class="form__label" for="district">Bairro</label>
        <input class="form__input" value="{{ address.district }}" type="text" id="district" name="district" placeholder="Digite o seu bairro">
        <label class="form__label" for="street">Rua</label>
        <input class="form__input" value="{{ address.street }}" type="text" id="street" name="street" placeholder="Digite o nome da rua">
        <label class="form__label" for="number">Número</label>
        <input class="form__input" value="{{ address.number }}" type="text" id="number" name="number" placeholder="Digite o número da residencia">
        <label class="form__label" for="uf">UF</label>
        <select class="form__input" value="{{ address.uf }}" name="uf" id="uf">
          <option>Estado</option>
        </select>
        <button class="btn btn--form" type="submit">Atualizar Dados</button>
      </form>
      {% else %}
      <form action="{{url_for('signup_action')}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label class="form__label" for="name">Nome</label>
        {{form.name(class="form__input", placeholder="Digite o seu nome", id="name")}}
        <label class="form__label" for="email">E-mail</label>
        {{form.email(class="form__input", placeholder="Digite o seu email", id="email")}}
        <label class="form__label" for="password">Senha</label>
        {{form.password(class="form__input", placeholder="Digite a sua senha", id="password")}}
        <label class="form__label" for="phone">Telefone</label>
        {{form.phone(class="form__input", placeholder="Digite o seu telefone", id="phone")}}
        <label class="form__label" for="cep">CEP</label>
        {{form.cep(class="form__input", placeholder="Digite o CEP", id="cep")}}
        <label class="form__label" for="district">Bairro</label>
        {{form.district(class="form__input", placeholder="Digite o Bairro", id="district")}}
        <label class="form__label" for="street">Rua</label>
        {{form.street(class="form__input", placeholder="Digite a Rua", id="street")}}
        <label class="form__label" for="number">Número</label>
        {{form.number(class="form__input", placeholder="Digite o Número", id="number")}}
        <label class="form__label" for="uf">UF</label>
        {{form.uf(class="form__input", id="uf")}}
        <button class="btn btn--form" type="submit">Cadastrar</button>
      </form>
      {% endif %}
    </div>
  </section>
</main>


{% endblock %}
