{% extends 'layout/base.html' %}
{% block content %}

<main class="form__page">
  <section class="signup form__section">
    <div class="form__container signup__container">
        <div class="tab-content">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
        {% if current_user %}
            {% if  request.path == url_for('edit_profile') %}
                <h2 class="form__title">Meu Perfil</h2>
                <form  action="{{ url_for('edit_profile_action') }}"  action="{{ url_for('edit_user_action', user_id=current_user.id) }}" method="post">
            {% else %}
                <h2 class="form__title">Editar Usuário</h2>
                <form   action="{{ url_for('edit_user_action', user_id=current_user.id) }}" method="post">
            {% endif %}

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label class="form__label" for="name">Nome</label>
        {{form.name(class="form__input", placeholder="Digite o seu nome", id="name", value=current_user.name)}}
        <label class="form__label" for="email">E-mail</label>
        {{form.email(class="form__input", placeholder="Digite o seu email", id="email", value=current_user.email)}}
        <label class="form__label" for="password">Senha</label>
        {{form.password(class="form__input", placeholder="Digite a sua senha", id="password")}}
        <label class="form__label" for="phone">Telefone</label>
        {% if current_user.phone%}
            {{form.phone(class="form__input", placeholder="Digite o seu telefone", id="phone", value=current_user.phone)}}
        {% else %}
            {{form.phone(class="form__input", placeholder="Digite o seu telefone", id="phone")}}
        {% endif %}
        {% if current_user.address %}
            <label class="form__label" for="cep">CEP</label>
            {{form.cep(class="form__input", placeholder="Digite o CEP", id="cep", value=current_user.address[0].cep)}}
            <label class="form__label" for="district">Bairro</label>
            {{form.district(class="form__input", placeholder="Digite o Bairro", id="district", value=current_user.address[0].district)}}
            <label class="form__label" for="street">Rua</label>
            {{form.street(class="form__input", placeholder="Digite a Rua", id="street", value=current_user.address[0].street)}}
            <label class="form__label" for="number">Número</label>
            {{form.number(class="form__input", placeholder="Digite o Número", id="number", value=current_user.address[0].number)}}
            <label class="form__label" for="uf">UF</label>
            {{form.uf(class="form__input", id="uf", value=current_user.address[0].uf)}}
            <input type="hidden" name="address_id" value="{{ current_user.address[0].id }}"/>
        {% else %}
            <label class="form__label" for="cep">CEP</label>
            {{form.cep(class="form__input", placeholder="Digite o CEP", id="cep")}}
            <label class="form__label" for="district">Bairro</label>
            {{form.district(class="form__input", placeholder="Digite o Bairro", id="district")}}
            <label class="form__label" for="street">Rua</label>
            {{form.street(class="form__input", placeholder="Digite a Rua", id="street")}}
            <label class="form__label" for="number">Número</label>
            {{form.number(class="form__input", placeholder="Digite o Número", id="number")}}
            <label class="form__label" for="uf">UF</label>
            {{form.uf(class="form__input", id="uf")}}
        {% endif %}
        <button class="btn btn--form btn-medium" type="submit">Atualizar Dados</button>
      </form>
      {% else %}
        <h2 class="form__title">Cadastrar-se</h2>
      <form action="{{url_for('signup_action')}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label class="form__label" for="name">Nome</label>
        {{form.name(class="form__input", placeholder="Digite o seu nome", id="name")}}
        <label class="form__label" for="email">E-mail</label>
        {{form.email(class="form__input", placeholder="Digite o seu email", id="email")}}
        <label class="form__label" for="password">Senha</label>
        {{form.password(class="form__input", placeholder="Digite a sua senha", id="password")}}
        <label class="form__label" for="phone">Telefone</label>
        {{form.phone(class="form__input", placeholder="Digite o seu telefone", id="phone")}}
        <label class="form__label" for="cep">CEP</label>
        {{form.cep(class="form__input", placeholder="Digite o CEP", id="cep")}}
        <label class="form__label" for="district">Bairro</label>
        {{form.district(class="form__input", placeholder="Digite o Bairro", id="district")}}
        <label class="form__label" for="street">Rua</label>
        {{form.street(class="form__input", placeholder="Digite a Rua", id="street")}}
        <label class="form__label" for="number">Número</label>
        {{form.number(class="form__input", placeholder="Digite o Número", id="number")}}
        <label class="form__label" for="uf">UF</label>
        {{form.uf(class="form__input", id="uf")}}
        <button class="btn btn--form btn-medium" type="submit">Cadastrar</button>
      </form>
      {% endif %}
    </div>
  </section>
</main>


{% endblock %}
