{% extends 'layout/base.html' %}
{% block content %}
    <main class="payment__confirm max_height">
        <section class="payment__columns wrapper">
            <div class="payment__items">
                <div class="payment__item">
                    <figure class="payment__product_figure">
                        <img class="payment__product_image" src="" alt="">
                    </figure>
                    <div class="payment__product_info">
                        <h3 class="payment__product_title"></h3>
                        <p class="payment__product_qtt">Quantidade: <span class="payment__product_qtt_item"></span></p>
                        <p class="payment__product_price"><span class="payment__product_money"></span></p>
                    </div>
                </div>
            </div>
            <div class="payment__actions">
                <h2 class="payment__actions_title">Informações do pedido</h2>
                <div class="payment__actions_columns">
                    <p>Total a Pagar</p>
                    <p class="payment__actions_price_total"></p>
                </div>
                {% if not current_user.address[0].street %}
                <div class="payment__actions_columns">
                    <p>Seu cadastro esta incompleto, por favor, conclua seu cadastro para poder continuar.</p>
                </div>
                <a href="{{url_for('edit_profile')}}" class="btn btn-medium btn--form">Editar Perfil</a>
                {% else %}
                <div class="payment__actions_columns">
                    <p>CEP</p>
                    <p>{{ current_user.address[0].cep }}</p>
                </div>
                <div class="payment__actions_columns">
                    <p>Endereço</p>
                    <p>{{ current_user.address[0].street }}</p>
                </div>
                <div class="payment__actions_columns">
                    <p>Número</p>
                    <p>{{ current_user.address[0].number }}</p>
                </div>
                <div class="payment__actions_columns">
                    <p>Bairro</p>
                    <p>{{ current_user.address[0].district }}</p>
                </div>
                    <div id="smart-button-container">
                      <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                      </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
